<div class="profile-card">
 <div class="card-header">
 <div class="pic">
 <img src="/public/static/admin.png" alt="No image">
 </div>

    <div class="name">{{user.username}}</div>
    <div class="desc">{{user.email}}</div>
    <div class="sm">
    </div>
    
    <a href="/admin/book/newBook" class="contact-btn fixBorder">Add Book</a>

    <div class="top_border">
       <a href="/admin/logout" class="logOut">Log Out</a>
    </div>

 <link rel="stylesheet" type="text/css" href="/public/css/profile.css">
 </div>
</div>
