<div class="profile-card">
 <div class="card-header">
 <div class="pic">
 <img src="/public/static/logo.jpeg" alt="No image">
 </div>

    <div class="name">{{user.username}}</div>
    <div class="desc">{{user.email}}</div>
    <div class="sm">
    </div>
    
    <a href="#" class="contact-btn fixBorder">Add Book</a>
    <a href="#" class="contact-btn fixBorder">Delete Book</a>
    <a href="#" class="contact-btn fixBorder">Check Sales</a>
    <div class="top_border">
       <a href="/users/logout" class="logOut">Log Out</a>
    </div>

 <link rel="stylesheet" type="text/css" href="/public/css/profile.css"> 
