<meta name="viewport" content="width=device-width, initial-scale=1.0">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<!--<link rel="stylesheet" href="../../public/css/fullpage.css">-->

<!--<link rel="stylesheet" href="../../public/css/animate.css">-->

{{!-- favicon --}}
<!--<link rel="shortcut icon" type="image/png" href="../../public/assets/favicon.png"/>-->

{{!-- font-awesome  --}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!-- Add the slick-theme.css if you want default styling -->
<!--<link rel="stylesheet" type="text/css" href="../../public/css/slick.css"/>-->
<!-- Add the slick-theme.css if you want default styling -->
<!--<link rel="stylesheet" type="text/css" href="../../public/css/slick-theme.css"/>-->

{{!-- cleave  --}}
<!--<script src="../../public/js/cleave.min.js"></script>-->

<!--<script type="text/javascript" src="../../public/js/slick.min.js"></script>-->

<link rel="stylesheet" href="../../public/css/site.css">


<script type="text/javascript">
    if(document.title == 'Cart'){
        $(document).ready(function(){
            $(window).scroll(function(){
                var scroll = $(window).scrollTop();
                if (scroll > 80) {



                }else{


                }
            })
        })
    }else if(document.title == 'Landing Page'){
        $(document).ready(function(){
            $("body").css("background-color","#000");
            $(window).scroll(function(){
                var scroll = $(window).scrollTop();
                if (scroll > 80) {

                    $("nav .left").css("line-height","80px");
                    $("nav .right ul li a").css("line-height","80px");
                    $("nav .right ul li ul li a").css("line-height","60px");


                }else{

                    $("nav .left").css("line-height","110px");
                    $("nav .right ul li a").css("line-height","110px");
                    $("nav .right ul li ul li a").css("line-height","60px");


                }
            })
        })
    }else if(document.title == 'Signup Page'){
        $(document).ready(function(){










        })
    }else if(document.title == 'Dashboard Page'  || document.title == 'Search Page' ||  document.title == 'Detail Page'){
        $(document).ready(function(){
            $(window).scroll(function(){
                var scroll = $(window).scrollTop();
                if (scroll > 80) {



                }else{



                }
            })
        })
    }else{
        $(document).ready(function(){
            $(window).scroll(function(){
                var scroll = $(window).scrollTop();
                if (scroll > 80) {

                    $("nav .left").css("line-height","80px");
                    $("nav .right ul li a").css("line-height","80px");
                    $("nav .right ul li ul li a").css("line-height","60px");
                    $("nav").css("background-color" , "rgba(0,0,0,0.9)");

                }else{

                    $("nav .left").css("line-height","110px");
                    $("nav .right ul li a").css("line-height","110px");
                    $("nav .right ul li ul li a").css("line-height","60px");
                    $("nav").css("background-color" , "transparent");

                }
            })
        })
    }

    if(document.title == 'Home Page'){
        $(document).ready(function(){

            $('.center').slick({
                arrows: false,
                speed: 1000,
                autoplaySpeed: 3000,
                autoplay: true,
                centerMode: true,
                useCSS: false,
                centerPadding: '60px',
                slidesToShow: 5,
                slidesToScroll: 3,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 1
                        }
                    }
                ]

            });
            $('.center').on('beforeChange', function(event, slick, currentSlide, nextSlide){
                $('.slick-active.slick-center').removeClass('bigger')
                console.log('beforeChange', currentSlide, nextSlide);
            });
            $('.center').on('afterChange', function(event, slick, currentSlide){
                $('.slick-active.slick-center').addClass('bigger')
                console.log('afterChange', currentSlide);
            });
            $('.home-main').slick({
                arrows: false,
                slidesToShow: 1,
                slidesToScroll: 1,
                speed: 2000,
                autoplay: true,
                fade: true,
                autoplaySpeed: 5000,
                pauseOnHover:false,
                pauseOnFocus:false
            });

        });

    }
</script>
</head>

<body>
{{{body}}}





<!--<script src="../../public/js/wow.js"></script>-->
<!--<script src="../../public/js/home.js"></script>-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/tota11y/0.1.6/tota11y.js"></script>
</body>

</html>