<!--<script src="/public/js/fullpage.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div id="fullpage">
<nav >
    <div class="left">
        <a href="/"><img id="logo" src="../../public/static/logo.jpeg" alt="Logo" style=""></a>
    </div>

    <div class="right">
        <ul>
            <li><a id="list" href="/users/login">LOG IN</a></li>
        </ul>
    </div>
</nav>
    <div class="section" id="section0">
        <h1 id="title" style="display:none">{{title}}</h1>
        <p class="title wow fadeIn">Duck Books,</p>
        <p class="title wow fadeIn">Read life anytime.</p>
        <p class="subtitle wow fadeIn" data-wow-delay=".7s">Buy anywhere. Read anywhere.</p>
        <a class="btn_signup wow fadeIn" data-wow-delay=".7s" href="/users/signup">Sign up</a>
    </div>
</div>



