<div class="bookshelf-container"></div>
    {{#if userInfo}}
    <div class="user" id="{{userInfo._id}}">
        <div id="main-bookshelf-content">
            <div class="info">
                <h1 class="title">{{userInfo.username}}</h1>
                <table>
                    <tr>
                        <th>Books:</th>
                        <td>{{booksInShelf.bookName}}</td>
                        <td><a href= {{booksInShelf.content}}>Read</a></td>
                    </tr>
                </table>   
            </div>
        </div>
    </div>
    {{/if}}
</div>             